<h1>SMS Server Notifications</h1>
<p>Click the button to test sending sms.</p>
<div class="row">
  <div class="panel well col-md-6">
  <a class="btn btn-success btn-lg btn-block" href="/text">Text me</a>
  <hr>
  </div>
</div>
